@using ModernEstateDemo.Models
@using ModernEstateDemo.ViewModels
@model SingleProductVM

<!-- Section Title Breadcrumbs-->
<section class="section-full text-left">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Single Property Page</h1>
				<p></p>
				<ol class="breadcrumb">
					<li>
						<a asp-action="Index">Home</a>
					</li>
					<li>
						<a href="#">Property Catalog</a>
					</li>
					<li class="active">Single Property Page</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<!-- Section Catalog Single Left-->
<section class="bg-dark section-sm section-sm-mod-1 text-left">
	<div class="container">
		<div class="row flow-offset-7">

			<div class="col-xs-12 col-sm-6 col-md-3">
				<p>Agent</p>
				<a href="agent-personal.html" class="h5 text-sushi text-regular">@Model.Property.Agent.FullName</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<p>Agency</p>
				<a href="#" class="h5 text-sushi text-regular">@Model.Property.Agency.AgencyName</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<p>Location</p>
				<p class="h5 text-regular">@Model.Property.Location</p>
			</div>


			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
				<p>Price</p>
				<p class="thumbnail-price h5">
					$@Model.Property.Price
					<span class="mon text-regular">/month</span>
				</p>
			</div>
			
		</div>
	</div>
</section>
<section class="section-sm section-sm-mod-2 text-left">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<!-- Slick Carousel-->
				<div data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-xs-items="1" data-photo-swipe-gallery="gallery" data-child="#child-carousel" data-for=".thumbnail-carousel" class="slick-slider carousel-parent">

					@foreach (var photo in Model.Property.PropertyPhotos)
					{
						<a data-photo-swipe-item="" data-size="1200x743" class="item">
							<img src="~/assets/images/@photo.Photo" alt="" width="770" height="513">
						</a>
					}

				</div>
				<div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="2" data-xs-items="4" data-sm-items="4" data-md-items="5" data-lg-items="5" data-slide-to-scroll="1" class="slick-slider thumbnail-carousel">

					@foreach (var photo in Model.Property.PropertyPhotos)
					{
						<div class="item">
							<div class="product-thumbnail">
								<img src="~/assets/images/@photo.Photo" alt="" width="130" height="86">
							</div>
						</div>
					}


				</div>

				<div class="row">
					<div class="col-xs-12">
						<h4 class="border-bottom">Overview</h4>
						<div class="table-mobile offset-11">
							<table class="table table-default">
								<tbody>
									<tr>
										<td>Area</td>
										<td>@Model.Property.Area</td>
									</tr>
									<tr>
										<td>Bedrooms</td>
										<td>@Model.Property.BedroomCount</td>
									</tr>
									<tr>
										<td>Bathrooms</td>
										<td>@Model.Property.BathroomCount</td>
									</tr>
									<tr>
										<td>Garages</td>
										<td>@Model.Property.GarageCount</td>
									</tr>
									@{
										var featuresList = string.Join(", ", Model.Property.PropertyFeatures.Select(f => f.Feature.FeatureName));
									}
									<tr>
										<td>Features</td>
										<td>@featuresList</td>
									</tr>

									<tr>
										<td>Year Built</td>
										<td>@Model.Property.BuiltYear</td>
									</tr>
									<tr>
										<td>Lot Size</td>
										<td>@Model.Property.LotSize</td>
									</tr>
									<tr>
										<td>School District</td>
										<td>@Model.Property.SchoolDistrict</td>
									</tr>
									<tr>
										<td>Parking Type</td>
										<td>@Model.Property.Parking.ParkingType</td>
									</tr>
									<tr>
										<td>Room Count</td>
										<td>@Model.Property.RoomCount</td>
									</tr>
									<tr>
										<td>Roof Type</td>
										<td>@Model.Property.Roof.RoofType</td>
									</tr>
									<tr>
										<td>View Type</td>
										<td>@Model.Property.View.ViewType</td>
									</tr>
									<tr>
										<td>Exterior Type</td>
										<td>@Model.Property.Exterior.ExteriorType</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h4 class="border-bottom offset-8">Description</h4>
						<p>
							@Model.Property.Description
						</p>
						<h4 class="border-bottom offset-8">Reviews</h4>
						<div class="media media-mod-2 comment">
							<div class="media-left round">
								<img src="~/assets/images/post_page-4.jpg" alt="" width="70" height="70" class="round">
							</div>
							<div class="media-body">
								<p class="h6 text-sushi text-ubold">Marilyn Taylor</p>
								<time datetime="2016" class="fa-calendar">May 21, 2016 at 5:50 pm</time>
								<p class="text-light">I just don't know how to describe your services... They are extraordinary! I am quite happy with them! Just keep up going this way!</p>
								<a href="#" class="text-sushi">
									<span class="fa-mail-reply icon"></span>
									<span>Reply</span>
								</a>
							</div>
						</div>
						<div class="media media-mod-2 comment comment-repost">
							<div class="media-left round">
								<img src="~/assets/images/post_page-5.jpg" alt="" width="70" height="70" class="round">
							</div>
							<div class="media-body">
								<p class="h6 text-sushi text-ubold">Heather Turner</p>
								<time datetime="2016" class="fa-calendar">May 21, 2016 at 6:23 pm</time>
								<p class="text-light">Thank you!</p>
								<a href="#" class="text-sushi">
									<span class="fa-mail-reply icon"></span>
									<span>Reply</span>
								</a>
							</div>
						</div>
						<h4 class="border-bottom offset-8">Write Review</h4>
						<!-- RD Mailform-->
						<form class="text-left offset-11">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<label for="contact-name" class="form-label">Enter your name</label>
										<input id="contact-name" type="text" name="name" data-constraints="Required" class="form-control">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="form-group">
										<label for="contact-email" class="form-label">Enter your e-mail</label>
										<input id="contact-email" type="email" name="email" data-constraints="Required Email" class="form-control">
									</div>
								</div>
								<div class="col-xs-12">
									<div class="form-group">
										<label for="contact-message" class="form-label">Enter your message</label>
										<textarea id="contact-message" name="message" data-constraints="Required" class="form-control"></textarea>
									</div>
								</div>
								<div class="col-xs-12">
									<button type="submit" class="btn btn-sushi btn-sm">Send message</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="sidebar sidebar-mod-1">
					<div class="sidebar-module">
						<!-- RD Google Map-->
						<div class="rd-google-map">
							<div id="rd-google-map" data-zoom="15" data-x="-73.9874068" data-y="40.643180" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]"
								 class="rd-google-map__model-4">
								<ul class="map_locations">
									<li data-x="-73.9874068" data-y="40.643180">
										<p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
									</li>
								</ul>
							</div>
						</div>
						<a href="personal-page.html" class="btn btn-sushi btn-sm offset-11 btn-full-width">contact an agent</a>
						<a href="#" class="btn btn-primary btn-sm btn-min-width-md btn-full-width offset-10">
							<span class="icon icon-left icon-sm fa-heart"></span>add to favoRites
						</a>
					</div>
					<div class="sidebar-module">
						<h4 class="border-bottom">Request a Showing</h4>
						<p>You can contact us any way that is convenient for you. We would be happy to answer your questions.</p>
						<!-- RD Mailform-->
						<form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left offset-11">
							<div class="form-group">
								<label for="contact-name2" class="form-label">Your name</label>
								<input id="contact-name2" type="text" name="name" data-constraints="Required" class="form-control">
							</div>
							<div class="form-group">
								<label for="contact-phone2" class="form-label">Your phone</label>
								<input id="contact-phone2" type="text" name="phone" data-constraints="Required Numeric" class="form-control">
							</div>
							<div class="form-group">
								<label for="contact-email2" class="form-label">Your e-mail</label>
								<input id="contact-email2" type="email" name="email" data-constraints="Required Email" class="form-control">
							</div>
							<div class="form-group">
								<label for="contact-message2" class="form-label">Message</label>
								<textarea id="contact-message2" name="message" data-constraints="Required" placeholder="Hello! I`m interested in 7758 Laguna heights Court, San Francisco, MA 02127. Please contact me with more information." class="form-control min-height"></textarea>
							</div>
							<button type="submit" class="btn btn-sushi btn-sm">Send message</button>
						</form>
					</div>
					<div class="sidebar-module">
						<h4 class="border-bottom">Agent Information</h4>
						<div class="media media-mod-3">
							<div class="media-left img-width-auto">
								<img src="~/assets/images/agency-2.jpg" alt="" width="100" height="100">
							</div>
							<div class="media-body">
								<h5 class="text-sushi">Heather Turner</h5>
								<p>Founder, Listing Agent</p>
								<dl class="dl-horizontal-mod-1 text-ubold text-abbey">
									<dt>tel.</dt>
									<dd>
										<a href="callto:#">1-800-1234-567</a>
									</dd>
								</dl>
							</div>
						</div>
						<p>She is our leading specialist in everything concerning Real Estate and property management.</p>
						<a href="agent-personal.html" class="btn btn-primary btn-sm">get in touch</a>
					</div>
					<div class="sidebar-module">
						<h4 class="border-bottom">Share</h4>
						<div class="icon-group">
							<a href="#" class="icon icon-sm icon-social fa-facebook"></a>
							<a href="#" class="icon icon-sm icon-social fa-twitter"></a>
							<a href="#" class="icon icon-sm icon-social fa-google-plus"></a>
						</div>
					</div>
					<div class="sidebar-module">
						<h4>Recent Properties</h4>
						@foreach (var item in Model.RecentlyProperties)
						{
							<div class="thumbnail-3">
								<img src="~/assets/images/@item.PropertyPhotos.FirstOrDefault(p=>p.IsDeleted==false)?.Photo" alt="" width="340" height="230">
								<div class="caption">
									<a asp-controller="SingleProperty" asp-action="Details" asp-route-Id="@item.Id" class="h5 text-sushi">@item.Location</a>
									<p class="text-abbey">
										<span class="text-ubold">$@item.Price</span>
										<span>/month</span>
									</p>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>