@using ModernEstate.Application.Abstractions.Services
@using ModernEstate.Application.ViewModels.Contacts
@inject ILayoutService _layout;
@{
    Dictionary<string, string> settings = await _layout.GetSettingsAsync();
}
@model CreateContactVM
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Contact Us</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Contact Us 2-->
<section class="section-md text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Get in Touch</h2>
                <hr>
                <p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
                <!-- RD Mailform-->
                <form data-form-output="form-output-global" data-form-type="contact" method="post" class="rd-mailform text-left offset-11">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">Your name</label>
                                <input asp-for="Name" id="contact-name" type="text" name="name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 input-mod-1">
                            <div class="form-group">
                                <label asp-for="Phone" class="form-label">Your phone</label>
                                <input asp-for="Phone" id="contact-phone" type="text" name="phone" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label asp-for="Email" class="form-label">Your e-mail</label>
                                <input asp-for="Email" id="contact-email" type="email" name="email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label asp-for="Message" class="form-label">Message</label>
                                <textarea asp-for="Message" id="contact-message" name="message" data-constraints="Required" class="form-control"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sushi btn-sm">Send message</button>
                </form>
            </div>
            <div class="col-md-4 offset-7">
                <div class="row row-mod-1 flow-offset-6 sidebar text-sm-center text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-12">
                        <dl class="contact-info">
                            <dt>
                                <span class="h4 border-bottom">Phone</span>
                            </dt>
                            <dd>
                                <a href="callto:#" class="text-light">
                                    @settings["PhoneNumber"]
                                    <br>
                                </a>
                                <a href="callto:#" class="text-light">
                                    @settings["FaxNumber"]
                                </a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12">
                        <dl class="contact-info">
                            <dt>
                                <span class="h4 border-bottom">E-mail</span>
                            </dt>
                            <dd>
                                <a href="mailto:#" class="text-sushi">@settings["Email"]</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12">
                        <dl class="contact-info">
                            <dt>
                                <span class="h4 border-bottom">Follow us</span>
                            </dt>
                            <dd>
                                <ul class="list-inline" style="display: flex; align-items: center; gap: 10px; margin: 0; padding: 0;">
                                    <li>@Html.Raw(settings["FBIcon"])</li>
                                    <li>@Html.Raw(settings["XIcon"])</li>
                                    <li>@Html.Raw(settings["InstagramIcon"])</li>
                                    <li>@Html.Raw(settings["LinkedinIcon"])</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <address class="address">
                            <span class="h4 border-bottom">Address</span>
                            <p>@settings["MapAddress"]</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>