@using ModernEstate.Application.ViewModels.Properties
@using ModernEstate.Domain.Entities
@model SinglePropertyVM

<!-- Section Title Breadcrumbs-->
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Single Property Page</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="active">Single Property Page</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Section Catalog Single Left-->
<section class="bg-dark section-sm section-sm-mod-1 text-left">
    <div class="container">
        <div class="row flow-offset-7">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <p>Agent</p>
                <a asp-controller="Agent" asp-action="Details" asp-route-Id="@Model.Property.Agent.Id" class="h5 text-sushi text-regular">@Model.Property.Agent.FullName</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <p>Agency</p>
                <a asp-controller="Agency" asp-action="Details" asp-route-Id="@Model.Property.Agency.Id" class="h5 text-sushi text-regular">@Model.Property.Agency.AgencyName</a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <p>Location</p>
                <p class="h5 text-regular">@Model.Property.Location</p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                <p>Price</p>
                <p class="thumbnail-price h5">
                    $@Model.Property.Price
                    <span class="mon text-regular">/month</span>
                </p>
            </div>

        </div>
    </div>
</section>

<section class="section-sm section-sm-mod-2 text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <!-- Slick Carousel-->
                <div data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-xs-items="1" data-photo-swipe-gallery="gallery" data-child="#child-carousel" data-for=".thumbnail-carousel" class="slick-slider carousel-parent">

                    @foreach (PropertyPhoto photo in Model.Property.PropertyPhotos)
                    {
                        <a data-photo-swipe-item="" data-size="1200x743" class="item">
                            <img style="width:770px;height:513px;" src="~/assets/images/@photo.Photo" alt="">
                        </a>
                    }

                </div>
                <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="2" data-xs-items="4" data-sm-items="4" data-md-items="5" data-lg-items="5" data-slide-to-scroll="1" class="slick-slider thumbnail-carousel">

                    @foreach (PropertyPhoto photo in Model.Property.PropertyPhotos)
                    {
                        <div class="item">
                            <div class="product-thumbnail">
                                <img style="width:130px;height:86px;" src="~/assets/images/@photo.Photo" alt="">
                            </div>
                        </div>
                    }

                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="border-bottom">Overview</h4>
                        <div class="table-mobile offset-11">
                            <table class="table table-default">
                                <tbody>
                                    <tr>
                                        <td>Area</td>
                                        <td>@Model.Property.Area</td>
                                    </tr>
                                    <tr>
                                        <td>Bedrooms</td>
                                        <td>@Model.Property.BedroomCount</td>
                                    </tr>
                                    <tr>
                                        <td>Bathrooms</td>
                                        <td>@Model.Property.BathroomCount</td>
                                    </tr>
                                    <tr>
                                        <td>Garages</td>
                                        <td>@Model.Property.GarageCount</td>
                                    </tr>
                                    @{
                                        var featuresList = string.Join(", ", Model.Property.PropertyFeatures.Select(f => f.Feature.FeatureName));
                                    }
                                    <tr>
                                        <td>Features</td>
                                        <td>@featuresList</td>
                                    </tr>

                                    <tr>
                                        <td>Year Built</td>
                                        <td>@Model.Property.BuiltYear</td>
                                    </tr>
                                    <tr>
                                        <td>Lot Size</td>
                                        <td>@Model.Property.LotSize</td>
                                    </tr>
                                    <tr>
                                        <td>School District</td>
                                        <td>@Model.Property.SchoolDistrict</td>
                                    </tr>
                                    <tr>
                                        <td>Parking Type</td>
                                        <td>@Model.Property.Parking.ParkingType</td>
                                    </tr>
                                    <tr>
                                        <td>Room Count</td>
                                        <td>@Model.Property.RoomCount</td>
                                    </tr>
                                    <tr>
                                        <td>Roof Type</td>
                                        <td>@Model.Property.Roof.RoofType</td>
                                    </tr>
                                    <tr>
                                        <td>View Type</td>
                                        <td>@Model.Property.View.ViewType</td>
                                    </tr>
                                    <tr>
                                        <td>Exterior Type</td>
                                        <td>@Model.Property.Exterior.ExteriorType</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4 class="border-bottom offset-8">Description</h4>
                        <p>
                            @Model.Property.Description
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="sidebar sidebar-mod-1">
                    <div class="sidebar-module">
                        <!-- RD Google Map-->
                        <div class="rd-google-map">
                            <div id="rd-google-map" data-zoom="15" data-x="-73.9874068" data-y="40.643180" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]"
                                 class="rd-google-map__model-4">
                                <ul class="map_locations">
                                    <li data-x="-73.9874068" data-y="40.643180">
                                        <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a asp-controller="Agent" asp-action="Details" asp-route-id="@Model.Property.Agent.Id" class="btn btn-sushi btn-sm offset-11 btn-full-width">Contact an Agent</a>
                        <form method="post" asp-action="AddToWishlist" asp-controller="Wishlist">
                            <input type="hidden" name="propertyId" value="@Model.Property.Id" />
                            <input type="hidden" name="userId" value="@User.Identity.Name" />
                            <button type="submit" class="btn btn-primary btn-sm btn-min-width-md btn-full-width offset-10">
                                <span class="icon icon-left icon-sm fa-heart"></span> Add to Favorites
                            </button>
                        </form>
                    </div>
                    <div class="sidebar-module">
                        <h4>Recent Properties</h4>
                        @foreach (Property property in Model.RecentlyProperties)
                        {
                            <div class="thumbnail-3">
                                <img style="width:340px;height:230px;" src="~/assets/images/@property.PropertyPhotos.FirstOrDefault(p=>p.IsPrimary==true)?.Photo" alt="" width="340" height="230">
                                <div class="caption">
                                    <a asp-controller="SingleProperty" asp-action="Details" asp-route-Id="@property.Id" class="h5 text-sushi">@property.Location</a>
                                    <p class="text-abbey">
                                        <span class="text-ubold">$@property.Price</span>
                                        <span>/month</span>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
